{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати новий курс</title>
    <link rel="stylesheet" href="{% static 'css/add_course.css' %}">

    <script>
        function addPointField() {
            const container = document.getElementById('points-container');
            const pointDiv = document.createElement('div');
            pointDiv.classList.add('input-container', 'point');

            const pointInput = document.createElement('input');
            pointInput.type = 'text';
            pointInput.name = 'points';
            pointInput.placeholder = 'Введіть назву пункту курсу';
            pointInput.required = true;

            pointDiv.appendChild(pointInput);
            container.appendChild(pointDiv);
        }
    </script>
</head>
<body>
{% block content %}
<div class="form-container">
        <h1>Додати новий курс</h1>
        <form method="post">
            {% csrf_token %}
            <label for="course_name">Назва курсу:</label>
            <div class="input-container">
                {{ course_form.name }}
            </div>

            <label for="deadline">Дедлайн:</label>
            <div class="input-container">
                <input type="text" name="deadline" id="deadline" placeholder="YYYY-MM-DD" required>
            </div>

            <div id="points-container">
                <label>Пункти курсу:</label>
                <div class="input-container">
                    <input type="text" name="points" placeholder="Введіть пункт курсу" required>
                </div>
            </div>

            <button type="button" class="add-point-button" onclick="addPointField()">Додати пункт</button>
            <button type="submit" class="submit-button">Зберегти курс</button>
        </form>
        <a href="{% url 'course_list' %}" class="back-link">Повернутися до списку курсів</a>
    </div>
{% endblock %}
</body>
</html>
