{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій Сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <p>Логотип</p>
            </div>
            <div class="content">
                <a class="header_button" href="/">Головна</a>
                <a class="header_button" href="/about/">Про нас</a>
                <a class="header_button" href="/services/">Послуги</a>
                <a class="header_button" href="/contacts/">Контакти</a>
                <a class="header_button" href="/blog/">Блог</a>
            </div>
            <div class="login">
                {% if request.session.user_id %}
                    <!-- Якщо користувач залогінений, показуємо кнопку Log Out -->
                    <a class="logout_button" href="/logout/">Log Out</a>
                {% else %}
                    <!-- Якщо користувач не залогінений, показуємо кнопки Log In та Register -->
                    <a class="login_button" href="/login/">Log In</a>
                    <a class="register_button" href="/register/">Register</a>
                {% endif %}
            </div>
        </div>
    </header>
</body>
</html>
